.photo-grid {
  max-width: 1184px;
  margin: auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media only screen and (max-width: 1078px) {
  .photo-grid {
    gap: 14px;
  }
}

@media only screen and (max-width: 918px) {
  .photo-grid {
    padding-top: 88px;
    gap: 16px;
  }
}

@media only screen and (max-width: 475px) {
  .photo-grid {
    gap: 12px;
    padding-top: 64px;
  }
}
