.places {
  max-width: 984px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 92px;
  display: grid;
}

@media only screen and (max-width: 918px) {
  .places {
    padding-top: 16px;
    padding-bottom: 88px;
  }
}

@media only screen and (max-width: 475px) {
  .places {
    padding-top: 16px;
    padding-bottom: 64px;
  }
}
