.places {
  display: grid;
  max-width: 984px;
  margin: auto;
  padding-top: 18px;
}

@media only screen and (max-width: 1078px) {
  .places {
    margin: 0 48px;
  }
}

@media only screen and (max-width: 918px) {
  .photo-grid {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 425px) {
  .places {
    margin: auto;
  }
}
