.lead {
  max-width: 984px;
  margin: auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1078px) {
  .lead {
    padding-top: 48px;
  }
}
