.main {
  margin: auto;
}

@media only screen and (max-width: 1078px) {
  .main {
    margin: 0 48px;
  }
}

@media only screen and (max-width: 918px) {
  .main {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 475px) {
  .main {
    margin: 0 16px;
  }
}
