.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  min-width: 288px;
  padding-top: 28px;
  margin: auto;
}

@media only screen and (max-width: 918px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media only screen and (max-width: 475px) {
  .header {
    padding-top: 16px;
  }
}
