.lead__image {
  min-width: 768px;
  width: 100%;
  padding-top: 64px;
  object-fit: contain;
}

@media only screen and (max-width: 1078px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 767px) {
  .lead__image {
    min-width: 320px;
  }
}

@media only screen and (max-width: 475px) {
  .lead__image {
    max-width: 100%;
    padding-top: 40px;
  }
}
