.lead__image {
  object-fit: contain;
  padding-top: 64px;
  max-width: 100%;
  min-width: 768px;
}

@media only screen and (max-width: 425px) {
  .lead__image {
    max-width: 100%;
    min-width: 320px;
    padding-top: 40px;
  }
}
