.cover {
  position: relative;
  max-width: 1184px;
  margin: auto;
}

.cover::before {
  content: '';
  display: block;
  background-image: url('../../images/cover-trains.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 62.5%;
}

@media only screen and (max-width: 1078px) {
  .cover {
    margin: 0 -48px;
  }
}

@media only screen and (max-width: 918px) {
  .cover {
    margin: 0 -24px;
  }
}

@media only screen and (max-width: 475px) {
  .cover {
    margin: 0 -16px;
  }
}
