.place__link {
  padding-top: 12px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  -moz-text-decoration-line: underline;
  transform: translate(0, -3px);
}

.place__link:hover {
  opacity: 0.8;
}
