.footer__links-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .footer__links-list {
    flex-direction: column;
    padding-bottom: 48px;
  }
}
