.footer {
  display: flex;
  justify-content: space-between;
  max-width: 92.5%;
  margin: auto;
}

@media only screen and (max-width: 1078px) {
  .footer {
    margin: 0 48px;
  }
}

@media only screen and (max-width: 918px) {
  .footer {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin: 0 16px;
  }
}
